.App {
  text-align: center;
  font-family: 'KarenFat';
}

body {
  background: black;
}

.App-header {
  background-color: #edf6f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom:2vh;
}

.App-content {
  margin-right:5vw;
  display:flex;
  justify-content: flex-end;
}

.title {
  padding-top: 20px;
  color:#0a0908
}

.App-link {
  color: #61dafb;
}

button {
  font-family: 'Kubasta';
  font-size:calc(5px + 1.5vw);
  border-radius: 10px;
}

@font-face {
  font-family: "Kubasta";
  src: local("Kubasta"), url(./fonts/Kubasta.ttf) format('truetype');
}

@font-face {
  font-family: "KarenFat";
  src: local("KarenFat"), url(./fonts/KarenFat.ttf) format('truetype');
}

@font-face {
  font-family: "CelticTime";
  src: local("CelticTime"), url(./fonts/CelticTime.ttf) format('truetype');
}

img { 
    image-rendering: pixelated;
}

:root {
  --darkest: black;
  --color1:rgb(71, 71, 71);
  --color2:rgb(83, 83, 83);
  --color3:rgb(241, 241, 241);
  --color4:#BE8A60;
}