.boxView {
    z-index: 10;
    position: fixed;
    width: 90vw;
    height: 90vh;
    background-color: hsla(0, 0%, 0%, 0.85);
    left: 5vw;
    bottom: 5vh;
    border-radius: 2vh;
    border: 5px solid gray;
    color: white;
}

.boxView .leftPanel {
    position: absolute;
    width: 50%;
    height:100%;
    left: 0;
}

.boxView .customEncounter {
    position: absolute;
    bottom: 0;
    width: 50%;
    right: 0;
    padding:25px;
}

.boxView .dropdown {
    color: black
}

.boxView .boxDisplay {
    width: 50%;
    height: 70%;
    margin: 25px;
    padding: 25px;
    box-sizing: border-box;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    overflow: auto
}

div.boxDisplay::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

div.boxDisplay::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}