.boxView {
    z-index: 10;
    position: fixed;
    width: 90vw;
    height: 90vh;
    background-color: hsla(0, 0%, 0%, 0.85);
    left: 5vw;
    bottom: 5vh;
    border-radius: 2vh;
    border: 5px solid gray;
    color: white;
}

.boxView .leftPanel {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
}

.boxView .customEncounter {
    position: absolute;
    bottom: 0;
    width: 50%;
    right: 0;
    padding: 25px;
}

.boxView .status {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxView .dropdown {
    color: black
}

.boxView .boxDisplay {
    width: 50%;
    height: 70%;
    margin: 25px;
    padding: 25px;
    box-sizing: border-box;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    overflow: auto
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

div.boxDisplay::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

div.boxDisplay::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}