.caughtEncounter {
    color: #1f2421;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: calc(10px + 2vh);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caughtEncounter img {
    height:75px;
    width:auto;
    margin-top:10px;
    margin-bottom:10px;
}