.background {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width:100vw;
    height:100vh;
    left:0px;
    top:0px;
    z-index: -1;
}

.detailView {
    z-index: 10;
    position: fixed;
    width: 90vw;
    height:90vh;
    background-color: hsla(0, 0%, 0%, 0.85);
    left:5vw;
    bottom: 5vh;
    border-radius: 2vh;
    border: 5px solid gray;
    color: white;
}

.detailView .closeButton {
    position: absolute;
    border: none;
    background-color: transparent;
    right: 5px;
}

.detailView .topView {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.detailView .monDisplay {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    font-size:calc(10px + 1vw);
    align-items: center;
    z-index: 1;
}

.detailView .statDisplay {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: calc(10px + 2vw);
    margin-top: 10vh;
}

.detailView .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.detailView .right {
    align-items: flex-end;
    margin-left: 3vw;
}

.detailView .learnsetDisplay {
    display: flex;
    flex-direction: row;
    margin: 5%;
    margin-left: 10%;
    font-size: calc(5px + 1vw);
}

.detailView .learnsetDisplay div {
    padding-left: 1vw;
    text-align: left;
}

.detailView .learnsetDisplay .tmList {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 70vh;
    padding-left:0;
}

.detailView .monSelector {
    position: absolute;
    bottom: 2%;
    width: 100%;
    font-size:calc(5px + 0.75vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    justify-content: flex-end;
}

.detailView .method {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 25%;
}
.detailView .methodName {
    margin-right: 1vw;
}

.monDisplay .mainImage {
    height: 50vh;
    width: 50vh;
}

.detailView .method img {
    max-height: 100%;
}