.encounterLocation {
    padding-top:2vh
}

.encounterLocationPanel {
    width: 50vw;
    background-color: #d3d3d36b;
    border-radius: 16px;
    display:grid;
    font-size: calc(10px + 2vh);
}

.locationName {
    min-height: 10vh;
    align-self: center;
}