.encounterTable {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encounterLocation {
    width: 80%;
    font-size: 40px;
}

.encounterLocationPanel {
    width: 100%;
    background-color: gray;
    border-radius: 16px;
    display:grid;
    font-size: 40px;
}

.encounterMethod {
    width: 100%;
    border-radius: 16px;
    font-size: 30px;
}

.encounter {
    background-color:#f1f1f1;
    color: black;
    display: inline-block;
    border: 1px solid #000;  
    box-sizing: border-box;
    font-size: 20px;
}

.selected {
    background-color:red !important;
}


img {
    max-width: 100%;
    height: auto;
    background-color: initial;
    border: none;
}

.encounter button {
    background-color: initial;
    border: none;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  /* bottom: 125%;
  left: 50%;
  margin-left: -30px; */
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}