.encounter {
    background-color: var(--color3);
    color: #1f2421;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.encounter:hover {
  background-color: #424242;
}

.encounter img {
    height:100px;
    width: auto;
    background-color: initial;
}

.encounterButton {
    background-color: initial;
    border: none;
}

.selected {
    background-color:green !important;
}

.percent {
    margin-bottom:10px;
    font-size: 2vh;
    font-family: initial;
}