.encounter {
    color: #1f2421;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    box-sizing: border-box;
}

.encounterInner:hover {
  background-color: #424242 !important;
}

.encounter img {
    height:100px;
    width: auto;
    background-color: initial;
}

.encounterButton {
    background-color: initial;
    border: none;
}

.percent {
    margin-bottom:10px;
    font-size: 2vh;
    font-family: initial;
}