.encounterMethod {
    font-size: calc(15px + 1vh);
    padding-bottom: 1vh;
    padding-top: 1vh;
    /* border-width: 5px;
    border-style: dotted;
    align-items: center;
    border-color: black transparent transparent transparent; */
}

.methodText {
    width: 100%;
}