.encounterMethod {
    width: 100%;
    font-size: calc(10px + 1vh);
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-width: 2px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.methodText {
}