.encounter {
    box-sizing: border-box;
    background-color: white;
    color: #1f2421;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
}

.encounter:hover {
  background-color: #1f2421;
}

img {
    height:100px;
    width: auto;
    background-color: initial;
    border: none;
}

.encounterButton {
    background-color: initial;
    border: none;
}

.selected {
    background-color:#BA181B !important;
}

.percent {
    margin-bottom:10px
}