.notificationPopup {
    z-index: 10;
    position: fixed;
    width: 30vw;
    height: 30vh;
    background-color: hsla(0, 0%, 0%, 0.85);
    left: 35vw;
    bottom: 35vh;
    border-radius: 2vh;
    border: 5px solid gray;
    color: white;
    font-size: calc(5px + 4vh);
    font-family: 'Kubasta';
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.notificationPopup button {
    width: fit-content;
    font-size: calc(5px + 4vh);
}