.toolbar {
    grid-area: 1 / 1 / 2 / 4;
    background-color: var(--darkest);
    position: sticky;
    bottom: 0;
}

.toolbar .topButtons {
    position: sticky;
    height: fit-content;
    top: 15vh;
}

.toolbarBox {
    background-color: var(--color3);
    border-radius: 25px;
    min-height: 50px;
    max-height: 50vh;
    position: sticky;
    height: fit-content;
    top: 25vh;
    overflow: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.toolbarBox .boxButtons {
    padding: 5px;
}

.toolbarBox .boxButtons button {
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}

div::-webkit-scrollbar {
    background: transparent;
}

div.toolbarBox::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
}