.toolbar {
    position: fixed;
    right: 70vw;
    height: 100%;
    width: 30vw;
    background-color: var(--darkest);
}

.toolbar .topButtons {
    margin-top: 5vh;
}

.toolbarBox {
    background-color: var(--color3);
    border-radius: 25px;
    min-height: 50px;
    max-height: 50vh;
    width: 25vw;
    position: fixed;
    top: 20%;
    left: 2.5vw;
    overflow: auto;
}

.toolbarBox .boxButtons {
    padding: 5px;
}

.toolbarBox .boxButtons button {
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}

div::-webkit-scrollbar {
    background: transparent;
}

div.toolbarBox::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
}